@charset "UTF-8";
/*
   公用变量
*/
/* color
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* Disable base
-------------------------- */
/* Transition
-------------------------- */
/*
   公用变量
*/
/* color
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* Disable base
-------------------------- */
/* Transition
-------------------------- */
/*
   公用变量
*/
/* color
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* Disable base
-------------------------- */
/* Transition
-------------------------- */
/*
   公用变量
*/
/* color
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* Disable base
-------------------------- */
/* Transition
-------------------------- */
html {
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*取消掉300ms的延迟，chrome和safari可以生效*/
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%;
  color: #333333;
  font-size: 0.24rem;
}

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
}

ol, ul {
  /*去掉列表点*/
  list-style: none;
}

table {
  /*去掉表格的双行线*/
  border-collapse: collapse;
  border-spacing: 0;
}

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}

a, img {
  /* 禁止长按链接与图片弹出菜单 */
  -webkit-touch-callout: none;
}

input {
  /*ios去除input默认样式*/
  -webkit-appearance: none;
}

.clearfix {
  zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.max-width, .wrapper {
  max-width: 7.5rem;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

body {
  background: url(../../images/bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container .date {
  margin: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .date .l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5px;
}

.container .date .l i {
  font-size: 0;
}

.container .date .l i:nth-child(2) {
  margin-left: 30px;
}

.container .date .l p {
  margin-left: 30px;
  font: 30px/1 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

.container .date .r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .date .r .date-l {
  padding-top: 10px;
  margin-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .date .r .date-l i {
  font-size: 0;
}

.container .date .r .date-l .time {
  padding-left: 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

.container .date .r .exit {
  width: 40px;
  height: 52px;
  background: rgba(255, 255, 255, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.container .date .r .exit img {
  padding-top: 12px;
}

.container .logo {
  margin: 50px auto 80px;
  width: 227px;
  height: 144px;
  font-size: 0;
}

.login-container {
  position: relative;
}

.login-container .login-l {
  position: absolute;
  left: calc(50% - 710px/2 - 292px);
  cursor: move;
}

.login-container .login {
  margin: 0 auto;
  width: 710px;
  background: rgba(255, 255, 255, 0.4);
}

.login-container .login .t {
  font-size: 0;
  padding-bottom: 20px;
}

.login-container .login .b {
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-container .login .b .item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-container .login .b .item i {
  margin-right: 10px;
}

.login-container .login .b .item .inp {
  width: 260px;
  border-bottom: 1px solid #fff;
}

.login-container .login .b .item .inp input {
  padding: 10px 0;
  outline: none;
  background: none;
  border: none;
  width: 100%;
}

.login-container .login .b .item .inp input::-webkit-input-placeholder {
  color: #58595b;
}

.login-container .login .b .item .inp.on {
  -webkit-box-shadow: 0 2px 0 rgba(159, 46, 64, 0.15);
          box-shadow: 0 2px 0 rgba(159, 46, 64, 0.15);
}

.login-container .login-r {
  position: absolute;
  left: calc(50% + 710px/2);
  bottom: 0;
  cursor: move;
  width: 130px;
  height: 96px;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc0d2f), to(#9f2e40));
  background: -webkit-linear-gradient(#cc0d2f, #9f2e40);
  background: -o-linear-gradient(#cc0d2f, #9f2e40);
  background: linear-gradient(#cc0d2f, #9f2e40);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.login-container .login-r h5 {
  font: 24px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

.login-container .login-r h6 {
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

.list {
  margin: 50px auto 0;
  width: 756px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .items {
  position: relative;
  width: 90px;
  margin: 0 18px;
}

.list .items .line1, .list .items .line2 {
  position: absolute;
  top: 0;
  width: 90px;
  height: 84px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: .5;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.list .items .img {
  width: 90px;
  height: 84px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .items .img i {
  font-size: 0;
  width: 50px;
  height: 38px;
  display: block;
  background: url(../../images/list_icon.png);
}

.list .items .img i.i1 {
  background-position: -3px 0;
}

.list .items .img i.i2 {
  background-position: -128px 0;
}

.list .items .img i.i3 {
  background-position: -251px 0;
}

.list .items .img i.i4 {
  background-position: -377px 0;
}

.list .items .img i.i5 {
  background-position: -499px 0;
}

.list .items .img i.i6 {
  background-position: -625px 0;
}

.list .items .text {
  margin-top: 10px;
}

.list .items .text p {
  font: 14px/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

.list .items:hover .line1 {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: scale(1.2, 1.1) translateY(-4px);
      -ms-transform: scale(1.2, 1.1) translateY(-4px);
          transform: scale(1.2, 1.1) translateY(-4px);
  opacity: 1;
}

.list .items:hover .line2 {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: scale(1.4, 1.2) translateY(-6px);
      -ms-transform: scale(1.4, 1.2) translateY(-6px);
          transform: scale(1.4, 1.2) translateY(-6px);
  opacity: .5;
}

.list .items:hover .img i.i1 {
  background-position: -3px -39px;
}

.list .items:hover .img i.i2 {
  background-position: -128px -39px;
}

.list .items:hover .img i.i3 {
  background-position: -251px -39px;
}

.list .items:hover .img i.i4 {
  background-position: -377px -39px;
}

.list .items:hover .img i.i5 {
  background-position: -499px -39px;
}

.list .items:hover .img i.i6 {
  background-position: -625px -39px;
}

.footer {
  padding-left: 46px;
  margin-top: 50px;
}

.footer .line {
  margin-bottom: 10px;
  width: 960px;
  height: 1px;
  background-color: #fff;
}

.footer p {
  font: 13px/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #58595b;
}

.swiper-container {
  margin-top: 50px;
  overflow: inherit;
}

.system-prev, .system-next {
  width: 80px;
  height: 90px;
  background: rgba(255, 255, 255, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1 !important;
}

.system-prev i, .system-next i {
  display: block;
  width: 25px;
  height: 21px;
  background: url(../../images/prev_next.png) no-repeat;
}

.system-prev {
  left: 0;
}

.system-prev i {
  background-position: 0 -21px;
}

.swiper-button-prev.swiper-button-disabled i {
  background-position: 0 0;
}

.system-next {
  right: 0;
}

.system-next i {
  background-position: -25px -21px;
}

.swiper-button-next.swiper-button-disabled i {
  background-position: -25px 0;
}

.swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.system-l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.system-l .user-info {
  margin-left: 100px;
  width: 353px;
  height: 527px;
  background: rgba(255, 255, 255, 0.4);
}

.system-l .user-info .top {
  padding: 30px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.system-l .user-info .top i {
  display: block;
  width: 65px;
  height: 65px;
  border: 2px solid #fff;
  font-size: 0;
}

.system-l .user-info .top i img {
  width: 100%;
}

.system-l .user-info .top h3 {
  margin-left: 10px;
  font: 24px/1 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #342d2d;
}

.system-l .user-info .middle {
  position: relative;
  padding: 0 40px 30px 40px;
}

.system-l .user-info .middle ul li {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.system-l .user-info .middle ul li span {
  width: 100px;
  font: 18px/1 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #342d2d;
}

.system-l .user-info .middle i {
  position: absolute;
  right: 40px;
  bottom: 20px;
  display: block;
  font-size: 0;
}

.system-l .user-info .foot {
  padding: 30px 40px;
  width: 353px;
  height: 240px;
  background: rgba(255, 255, 255, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.system-l .user-info .foot a {
  margin-bottom: 15px;
  font: 18px/1 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #342d2d;
}

.system-l .system-list .system-list-big {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 838px;
}

.system-l .system-list .system-list-big .item {
  position: relative;
  margin-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 311px;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.system-l .system-list .system-list-big .item .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.4);
  opacity: 0;
}

.system-l .system-list .system-list-big .item .title {
  padding: 30px;
  height: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.system-l .system-list .system-list-big .item .title h2 {
  font: bold 70px/1 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

.system-l .system-list .system-list-big .item .title p {
  margin-left: 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

.system-l .system-list .system-list-big .item .foot-img {
  padding: 30px;
  width: 100%;
  height: 181px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.system-l .system-list .system-list-big .item .foot-img.color1 {
  background-color: #f76884;
}

.system-l .system-list .system-list-big .item .foot-img.color2 {
  background-color: #29d2ad;
}

.system-l .system-list .system-list-big .item:hover {
  -webkit-animation: myItem .2s ease-in-out 0s 1 alternate forwards;
          animation: myItem .2s ease-in-out 0s 1 alternate forwards;
}

.system-l .system-list .system-list-big .item:hover .bg-color1 {
  background: rgba(251, 107, 134, 0.5);
}

.system-l .system-list .system-list-big .item:hover .bg-color2 {
  background: rgba(41, 210, 171, 0.5);
}

.system-l .system-list .system-list-big .item:hover .layer {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 1;
}

.system-l .system-list .system-list-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 838px;
}

.system-l .system-list .system-list-small .item {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 206px;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.system-l .system-list .system-list-small .item .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.4);
  opacity: 0;
}

.system-l .system-list .system-list-small .item .title {
  padding: 30px 20px 69px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.system-l .system-list .system-list-small .item .title h3 {
  margin-left: 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

.system-l .system-list .system-list-small .item .foot-img {
  padding: 30px 20px;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.system-l .system-list .system-list-small .item .foot-img.color3 {
  background-color: #53b9f3;
}

.system-l .system-list .system-list-small .item .foot-img.color4 {
  background-color: #fae033;
}

.system-l .system-list .system-list-small .item .foot-img.color5 {
  background-color: #b75be0;
}

.system-l .system-list .system-list-small .item:hover {
  -webkit-animation: myItem .2s ease-in-out 0s 1 alternate forwards;
          animation: myItem .2s ease-in-out 0s 1 alternate forwards;
}

.system-l .system-list .system-list-small .item:hover .bg-color3 {
  background: rgba(52, 176, 246, 0.5);
}

.system-l .system-list .system-list-small .item:hover .bg-color4 {
  background: rgba(250, 224, 51, 0.5);
}

.system-l .system-list .system-list-small .item:hover .bg-color5 {
  background: rgba(184, 92, 225, 0.5);
}

.system-l .system-list .system-list-small .item:hover .layer {
  opacity: 1;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.system-blank {
  margin-left: 10px;
}

.system-blank .system-blank-t {
  width: 120px;
  height: 206px;
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.system-blank .system-blank-t .system-blank-t-com {
  width: 120px;
  height: 90px;
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.system-blank .system-blank-b {
  margin-top: 10px;
  width: 120px;
  height: 311px;
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.system-blank .system-blank-b .system-blank-b-com {
  width: 120px;
  height: 175px;
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.system-blank-l .system-blank-t {
  width: 90px;
  height: 206px;
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.system-blank-l .system-blank-t .system-blank-t-com {
  width: 120px;
  height: 90px;
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.system-blank-l .system-blank-b {
  margin-top: 10px;
  width: 90px;
  height: 311px;
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.system-blank-l .system-blank-b .system-blank-b-com {
  width: 120px;
  height: 175px;
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.slide2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slide2 .system-list .system-list-big {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1140px;
}

.slide2 .system-list .system-list-big .item {
  position: relative;
  margin-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 311px;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.slide2 .system-list .system-list-big .item .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.4);
  opacity: 0;
}

.slide2 .system-list .system-list-big .item .title {
  padding: 30px;
  height: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slide2 .system-list .system-list-big .item .title h2 {
  font: bold 70px/1 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

.slide2 .system-list .system-list-big .item .title p {
  margin-left: 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

.slide2 .system-list .system-list-big .item .foot-img {
  padding: 30px;
  width: 100%;
  height: 181px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slide2 .system-list .system-list-big .item .foot-img.color1 {
  background-color: #f5a651;
}

.slide2 .system-list .system-list-big .item .foot-img.color2 {
  background-color: #4bd2b7;
}

.slide2 .system-list .system-list-big .item .foot-img.color3 {
  background-color: #5cb1e3;
}

.slide2 .system-list .system-list-big .item:hover {
  -webkit-animation: myItem .2s ease-in-out 0s 1 alternate forwards;
          animation: myItem .2s ease-in-out 0s 1 alternate forwards;
}

.slide2 .system-list .system-list-big .item:hover .bg-color1 {
  background: rgba(245, 166, 81, 0.5);
}

.slide2 .system-list .system-list-big .item:hover .bg-color2 {
  background: rgba(77, 211, 183, 0.5);
}

.slide2 .system-list .system-list-big .item:hover .bg-color3 {
  background: rgba(92, 177, 227, 0.5);
}

.slide2 .system-list .system-list-big .item:hover .layer {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 1;
}

.slide2 .system-list .system-list-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
}

.slide2 .system-list .system-list-small .item {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 206px;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.slide2 .system-list .system-list-small .item .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.4);
  opacity: 0;
}

.slide2 .system-list .system-list-small .item .title {
  padding: 30px 20px 69px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slide2 .system-list .system-list-small .item .title h3 {
  margin-left: 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

.slide2 .system-list .system-list-small .item .foot-img {
  padding: 30px 20px 10px;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slide2 .system-list .system-list-small .item .foot-img.color4 {
  background-color: #47afec;
}

.slide2 .system-list .system-list-small .item .foot-img.color5 {
  background-color: #fae033;
}

.slide2 .system-list .system-list-small .item .foot-img.color6 {
  background-color: #f58196;
}

.slide2 .system-list .system-list-small .item .foot-img.color7 {
  background-color: #b95de2;
}

.slide2 .system-list .system-list-small .item:hover {
  -webkit-animation: myItem .2s ease-in-out 0s 1 alternate forwards;
          animation: myItem .2s ease-in-out 0s 1 alternate forwards;
}

.slide2 .system-list .system-list-small .item:hover .bg-color4 {
  background: rgba(71, 175, 235, 0.5);
}

.slide2 .system-list .system-list-small .item:hover .bg-color5 {
  background: rgba(253, 226, 52, 0.5);
}

.slide2 .system-list .system-list-small .item:hover .bg-color6 {
  background: rgba(245, 129, 151, 0.5);
}

.slide2 .system-list .system-list-small .item:hover .bg-color7 {
  background: rgba(185, 93, 226, 0.5);
}

.slide2 .system-list .system-list-small .item:hover .layer {
  opacity: 1;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.settings {
  margin: 20px 0 0 100px;
}

.settings a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.settings a i {
  font-size: 0;
}

.settings a span {
  margin-left: 8px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

@-webkit-keyframes myItem {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes myItem {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
