<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="name, sycbbb@sina.com"/>
    <meta name="robots" content="index,follow"/>
	<title></title>
	<link rel="stylesheet" href="../styles/css/login.css">
</head>
<body>
    <div class="container">
    	<div class="date">
    		<div class="l">
            </div>
            <div class="r">
                <div class="date-l">
                    <i><img src="../images/icon1.png" alt=""></i>
                    <div class="time" id="dateNum"></div>
                </div>
                <div class="exit"><img src="../images/icon2.png" alt=""></div>
            </div>
    	</div>
    	<div class="logo"><img src="../images/logo.png" alt=""></div>
    	<div class="login-container">		
	    	<div class="login">
                <div class="login-l"><img src="../images/text.png" alt=""></div>
	    		<div class="t"><img src="../images/text_top.png" alt=""></div>
	    		<div class="b">
	    			<div class="user item">
	    				<i><img src="../images/icon3.png" alt=""></i>
	    				<div class="inp"><input type="text" placeholder="用户名"></div>
	    			</div>
	    			<div class="password item">
	    				<i><img src="../images/icon4.png" alt=""></i>
	    				<div class="inp"><input type="password" placeholder="密码"></div>
	    			</div>
	    		</div>
                <div class="login-r" onclick="systemHtml();">
                    <h5>登 录</h5>
                    <h6>LOGIN</h6>
                </div>
	    	</div>	
    	</div>
    	<div class="list">
    		<a href="" class="items">
    			<div class="line1"></div>
    			<div class="line2"></div>
    			<div class="img"><i class="i1"></i></div>
    			<div class="text">
    				<p>CRM</p>
    				<p>销售系统</p>
    			</div>
    		</a>
    		<a href="" class="items">
    			<div class="line1"></div>
    			<div class="line2"></div>
    			<div class="img"><i class="i2"></i></div>
    			<div class="text">
    				<p>CMS</p>
    				<p>内容管理系统</p>
    			</div>
    		</a>
    		<a href="" class="items">
    			<div class="line1"></div>
    			<div class="line2"></div>
    			<div class="img"><i class="i3"></i></div>
    			<div class="text">
    				<p>加盟商</p>
    				<p>结算系统</p>
    			</div>
    		</a>
    		<a href="" class="items">
    			<div class="line1"></div>
    			<div class="line2"></div>
    			<div class="img"><i class="i4"></i></div>
    			<div class="text">
    				<p>采购系统</p>
    			</div>
    		</a>
    		<a href="" class="items">
    			<div class="line1"></div>
    			<div class="line2"></div>
    			<div class="img"><i class="i5"></i></div>
    			<div class="text">
    				<p>OA办公系统</p>
    			</div>
    		</a>
    		<a href="" class="items">
    			<div class="line1"></div>
    			<div class="line2"></div>
    			<div class="img"><i class="i6"></i></div>
    			<div class="text">
    				<p>酒店生命周期</p>
    				<p>系统</p>
    			</div>
    		</a>
    	</div>
    	<div class="footer">
    		<div class="line"></div>
    		<p>©1999 - 2018 雅斯特酒店集团版权所有, Inc or its affiliates. All Rights Reserved. 粤ICP备17011619号</p>
    	</div>
	</div>
	<script src="../plugins/jquery/jquery-3.1.1.min.js"></script>
	<script>
		$(document).ready(function(){
			//登录聚焦
			$(".login-container .inp input").focus(function(){
				$(this).parent().addClass("on");
			});
			$(".login-container .inp input").blur(function(){
				$(this).parent().removeClass("on");
			});
			//调用当前时间
			getMyTime();
		});
         //登录跳转
        function systemHtml(){
            window.location.href="login-system.html"
        }
		//当前时间方法
		function getMyTime(){
            var myDate=new Date();
            var year=myDate.getFullYear();
            var month=myDate.getMonth()+1;
            var day=myDate.getDate();
            var week=myDate.getDay();
            var array=['周日','周一','周二','周三','周四','周五','周六',];
            var hour=myDate.getHours();
            var minute=myDate.getMinutes();
            var second=myDate.getSeconds();
            document.getElementById('dateNum').innerHTML=year+'.'+month+'.'+day+'&nbsp;&nbsp;&nbsp;'+array[week]+'&nbsp;&nbsp;&nbsp;'+p(hour)+':'+p(minute)+':'+p(second);
            setTimeout('getMyTime()',500);
        }
        function p(n){
            return n<10?'0'+n:n;
        }
	</script>
</html>