@import 'variable';
@import 'mixins';
@import 'base';

body{
    background:url(../../images/bg1.jpg) center bottom no-repeat;
    background-size: cover;  
    background-attachment:fixed; 
    width:100%;  
    height:100%;  
    min-width:900px;
}
.container{
    width:100%;
    height:100%;
    .date{
        margin:0 30px;
        display:flex;
        align-items:flex-end;
        justify-content:space-between;
        .l{
            display:flex;
            align-items:center;
            justify-content:center;
            padding-bottom:5px;
            i{
                font-size:0;
                &:nth-child(2){
                    margin-left:30px; 
                }
            }
            p{
                margin-left:30px;
                font:30px/1 $font-style-base; 
                color:#fff;
            }
        }
        .r{
            display:flex;
            align-items:center;
            justify-content:flex-end;
           .date-l{
                padding-top: 10px;
                margin-right:20px;
                display:flex;
                align-items:center;
                i{
                    font-size:0;
                }
                .time{
                    padding-left:10px;
                    font:18px/1.5 $font-style-base;
                    color:#fff;
                }
            }
            .exit{
                width:40px;
                height:52px;
                background:rgba(255,255,255,.4);
                display:flex;
                align-items:center;
                justify-content:center;
                cursor:pointer;
                img{
                    padding-top: 12px;
                }
            } 
        }        
    }
    .logo{
        margin:20px auto 30px;
        width:20%;
        height:auto;
        max-width:277px;
        font-size:0;
        img{
            width:100%;
        }
    }  
}
.login-container{
    position:relative;
    .login{
        position:relative;
        margin:0 auto;
        width:52%;
        background:rgba(255,255,255,.4);
        .t{
            font-size:0;
            padding-bottom:20px;
        }
        .b{
            padding:30px 20px;
            background-color:rgba(255,255,255,.4);
            display:flex;
            align-items:center;
            justify-content:center;
            .item{
                flex:1;
                display:flex;
                align-items:center;
                justify-content:center;
                i{
                    margin-right:10px;
                }
                .inp{
                    /*width:260px;*/
                    width:80%;
                    max-width:260px;
                    min-width:160px;
                    border-bottom:1px solid #fff;
                    input{
                        padding:10px 0;
                        outline:none;
                        background:none;
                        border:none;
                        width:100%;
                        &::-webkit-input-placeholder{
                            color:#58595b;
                        }
                    }
                }
                .inp.on{
                    box-shadow: 0 2px 0 rgba(159,46,64,.15);  
                }
            }
        }
        .login-l{
            width:282px;
            position:absolute;
            left:-282px;
            cursor: move;
        }
        .login-r{
            position:absolute;
            right:-130px;
            bottom: 0;
            cursor: move;
            width:130px;
            height:96px;
            background: linear-gradient(#cc0d2f, #9f2e40);
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:column;
            cursor:pointer;
            h5{
                font:24px/1.5 $font-style-base;
                color:#fff;
            }
            h6{
                font:14px/1.5 $font-style-base;
                color:#fff;
            }
        }
    }
}
.list{
    /*margin:50px auto 0;*/
    margin:3.5% auto 0;
    width:756px;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    .items{
        position:relative;
        width:90px;
        margin:0 18px;
        .line1,.line2{
            position:absolute;
            top:0;
            width:90px;
            height:84px; 
            border:1px solid rgba(255,255,255,.5);
            opacity:.5;
            transition:transform .5s;
        }
        .img{
            width:90px;
            height:84px;
            border: 1px solid rgba(255,255,255,.5);
            background:rgba(255,255,255,.4);
            display:flex;
            align-items:center;
            justify-content:center;
            i{
                font-size:0;
                width:50px;
                height:38px;
                display: block;
                background:url(../../images/list_icon.png); 
            }
            i.i1{background-position:-3px 0;}
            i.i2{background-position:-128px 0;}
            i.i3{background-position:-251px 0;}
            i.i4{background-position:-377px 0;}
            i.i5{background-position:-499px 0;}
            i.i6{background-position:-625px 0;}
        }
        .text{
            margin-top:10px;
            p{
              font:14px/1.2 $font-style-base;
              color:#fff;   
            }
        }
        &:hover{
            .line1{
                transition:transform .5s;
                transform:scale(1.2,1.1) translateY(-4px);
                opacity:1;
            }
            .line2{
                transition:transform .5s;
                transform:scale(1.4,1.2) translateY(-6px);
                opacity:.5;
            }
            .img{
                i.i1{background-position:-3px -39px;}
                i.i2{background-position:-128px -39px;}
                i.i3{background-position:-251px -39px;}
                i.i4{background-position:-377px -39px;}
                i.i5{background-position:-499px -39px;}
                i.i6{background-position:-625px -39px;}
            }
        }
    }
}
.footer{
    position:absolute;
    bottom:10px;
    padding-left:46px;
    /*margin-top:50px;*/
    .line{
        margin-bottom:10px;
        width:960px;
        height:1px;
        background-color:#fff;
    }
    p{
      font:13px/1.2 $font-style-base;
      color:#58595b;   
    }
}
@media screen and (max-width: 1366px){
    .container{
        .logo{
           width:15%; 
        }
    }
}

.swiper-container{
    margin-top:50px;
    padding:15px 0;
    /*overflow: inherit;*/
}
.system-prev,.system-next{
    width:80px;
    height:90px;
    background:rgba(255,255,255,.4);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:1 !important;
    i{
        display:block;
        width:25px;
        height:21px; 
        background:url(../../images/prev_next.png) no-repeat; 
    }
}
.system-prev{
    left:0;
    i{
       background-position:0 -21px; 
    }   
}
.swiper-button-prev.swiper-button-disabled{
    i{
       background-position:0 0; 
    }
}
.system-next{
    right:0;
    i{
        background-position:-25px -21px;
    }
}
.swiper-button-next.swiper-button-disabled{
   i{
        background-position:-25px 0;
    } 
}
.swiper-slide{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.swiper-button-next, .swiper-button-prev{
    margin-top:-45px; 
}
.system-l{
    margin: 0 110px 0 110px;
    width: 100%;
    display:flex;
    align-items:center;
    .user-info{
        /*width:353px;*/
        width: 31.5%;
        height:527px;
        background:rgba(255,255,255,.4);
        .top{
            padding:30px 40px;
            display:flex;
            align-items:flex-end;
            i{
                display:block;
                width:65px;
                height:65px;
                border:2px solid #fff;
                font-size:0;
                img{
                    width:100%;
                }
            }
            h3{
                margin-left:10px;
                font:24px/1 $font-style-base;
                color:#342d2d;   
            }
        }
        .middle{
            position:relative;
            padding:0 40px 30px 40px; 
            ul li{
                margin-bottom:15px;
                display:flex;
                align-items:center;
                span{
                    width:100px;
                    font:18px/1 $font-style-base;
                    color:#342d2d; 
                }
            }
            i{
                position:absolute;
                right:40px;
                bottom:20px;
                display:block;
                font-size:0;
            }
        }
        .foot{
            padding:30px 40px;
            /*width:353px;*/
            width:100%;
            height:240px;
            background:rgba(255,255,255,.4);
            display:flex;
            flex-direction:column;
            a{
                margin-bottom:15px;
                font:18px/1 $font-style-base;
                color:#342d2d;  
            }
        }
    }
    .system-list{
        width:68.5%;
        .system-list-big{
            display:flex;
            align-items:center;
            /*width:838px;*/
            width:100%;
            .item{
                position:relative;
                margin-left:10px;
                flex:1;
                height:311px;
                background:rgba(255,255,255,.4); 
                cursor:pointer;
                .layer{
                    position:absolute;
                    top:0;
                    right:0;
                    bottom:0;
                    left:0;
                    z-index:-1;
                    background:rgba(255,255,255,.4);
                    opacity: 0;
                }
                .title{
                    padding:30px;
                    height: 130px;
                    display:flex;
                    align-items:flex-end;
                    h2{
                        font:bold 70px/1 $font-style-base;
                        color:#fff;   
                    }
                    p{
                        margin-left:10px;
                        font:18px/1.5 $font-style-base;
                        color:#fff;   
                    }
                }
                .foot-img{
                    padding:30px;
                    width:100%;
                    height:181px;
                    display:flex;
                    align-items:flex-end;
                    justify-content:flex-end;
                }
                .foot-img.color1{background-color:#f76884;}
                .foot-img.color2{background-color:#29d2ad;}
                &:hover{
                    animation:myItem .2s ease-in-out 0s 1 alternate forwards;
                    .bg-color1{
                       background:rgba(251,107,134,.5); 
                    }
                    .bg-color2{
                       background:rgba(41,210,171,.5); 
                    }
                    .layer{
                        transition:transform .5s;
                        transform:scale(1.03);
                        opacity: 1;
                    }
                }
            }
        }
        .system-list-small{
            display:flex;
            align-items:center;
           /*width:838px;*/
            width:100%;
            .item{
                position:relative;
                margin-left:10px;
                margin-top:10px;
                flex:1;
                height:206px;
                background:rgba(255,255,255,.4); 
                cursor:pointer;
                .layer{
                    position:absolute;
                    top:0;
                    right:0;
                    bottom:0;
                    left:0;
                    z-index:-1;
                    background:rgba(255,255,255,.4);
                    opacity: 0;
                }
                .title{
                    padding:30px 20px 69px;
                    display:flex;
                    align-items:flex-end;
                    h3{
                        margin-left:10px;
                        font:18px/1.5 $font-style-base;
                        color:#fff;   
                    }
                }
                .foot-img{
                    padding:30px 20px;
                    width:100%;
                    height:80px;
                    display:flex;
                    align-items:flex-end;
                    justify-content:flex-end;
                }
                .foot-img.color3{background-color:#53b9f3;}
                .foot-img.color4{background-color:#fae033;}
                .foot-img.color5{background-color:#b75be0;}
                &:hover{
                    animation:myItem .2s ease-in-out 0s 1 alternate forwards;
                    .bg-color3{
                       background:rgba(52,176,246,.5); 
                    }
                    .bg-color4{
                       background:rgba(250,224,51,.5); 
                    }
                    .bg-color5{
                       background:rgba(184,92,225,.5); 
                    }
                    .layer{
                        opacity: 1;
                        transition:transform .5s;
                        transform:scale(1.05);
                    }
                }
            } 
        }
    }  
}
.system-blank{
    position:absolute;
    right:0;
    /*margin-left:10px;*/
    .system-blank-t{
        width:100px;
        height:206px;
        background:rgba(255,255,255,.4);
        background:linear-gradient(to right, rgba(255,255,255,.4), rgba(255,255,255,0));
        display:flex;
        align-items:flex-end;
        .system-blank-t-com{
            width:100px;
            height:90px;
            background:rgba(255,255,255,.4);
            background:linear-gradient(to right, rgba(255,255,255,.4), rgba(255,255,255,0));
        }
    }
    .system-blank-b{
        margin-top:10px;
        width:100px;
        height:311px;
        background:rgba(255,255,255,.4);
        background:linear-gradient(to right, rgba(255,255,255,.4), rgba(255,255,255,0));
        display:flex;
        align-items:flex-end;
        .system-blank-b-com{
            width:120px;
            height:175px;
            background:rgba(255,255,255,.4);
            background:linear-gradient(to right, rgba(255,255,255,.4), rgba(255,255,255,0));
        }
    }
}
.system-blank-l{
    position:absolute;
    left:0;
    .system-blank-t{
        width:100px;
        height:206px;
        background:rgba(255,255,255,.4);
        background:linear-gradient(to left, rgba(255,255,255,.4), rgba(255,255,255,0));
        display:flex;
        align-items:flex-end;
        .system-blank-t-com{
            width:120px;
            height:90px;
            background:rgba(255,255,255,.4);
            background:linear-gradient(to left, rgba(255,255,255,.4), rgba(255,255,255,0));
        }
    }
    .system-blank-b{
        margin-top:10px;
        width:100px;
        height:311px;
        background:rgba(255,255,255,.4);
        background:linear-gradient(to left, rgba(255,255,255,.4), rgba(255,255,255,0));
        display:flex;
        align-items:flex-end;
        .system-blank-b-com{
            width:120px;
            height:175px;
            background:rgba(255,255,255,.4);
            background:linear-gradient(to left, rgba(255,255,255,.4), rgba(255,255,255,0));
        }
    }
}

.slide2{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    .system-list{
        margin: 0 110px 0 110px;
        width: 100%;
        .system-list-big{
                display:flex;
                align-items:center;
                /*width:1140px;*/
                width:100%;
                .item{
                    position:relative;
                    margin-left:10px;
                    flex:1;
                    height:311px;
                    background:rgba(255,255,255,.4); 
                    cursor:pointer;
                    &:nth-child(1){
                        margin-left:0;
                    }
                    .layer{
                        position:absolute;
                        top:0;
                        right:0;
                        bottom:0;
                        left:0;
                        z-index:-1;
                        background:rgba(255,255,255,.4);
                        opacity: 0;
                    }
                    .title{
                        padding:30px;
                        height: 130px;
                        display:flex;
                        align-items:flex-end;
                        h2{
                            font:bold 70px/1 $font-style-base;
                            color:#fff;   
                        }
                        p{
                            margin-left:10px;
                            font:18px/1.5 $font-style-base;
                            color:#fff;   
                        }
                    }
                    .foot-img{
                        padding:30px;
                        width:100%;
                        height:181px;
                        display:flex;
                        align-items:flex-end;
                        justify-content:flex-end;
                    }
                    .foot-img.color1{background-color:#f5a651;}
                    .foot-img.color2{background-color:#4bd2b7;}
                    .foot-img.color3{background-color:#5cb1e3;}
                    &:hover{
                        animation:myItem .2s ease-in-out 0s 1 alternate forwards;
                        .bg-color1{
                           background:rgba(245,166,81,.5); 
                        }
                        .bg-color2{
                           background:rgba(77,211,183,.5); 
                        }
                        .bg-color3{
                           background:rgba(92,177,227,.5); 
                        }
                        .layer{
                            transition:transform .5s;
                            transform:scale(1.03);
                            opacity: 1;
                        }
                    }
                }
        }
        .system-list-small{
            display:flex;
            align-items:center;
            /*width:1000px;*/
            width:90%;
            .item{
                position:relative;
                margin-left:10px;
                margin-top:10px;
                flex:1;
                height:206px;
                background:rgba(255,255,255,.4); 
                cursor:pointer;
                &:nth-child(1){
                    margin-left:0;
                }
                .layer{
                    position:absolute;
                    top:0;
                    right:0;
                    bottom:0;
                    left:0;
                    z-index:-1;
                    background:rgba(255,255,255,.4);
                    opacity: 0;
                }
                .title{
                    padding:30px 20px 69px;
                    display:flex;
                    align-items:flex-end;
                    h3{
                        margin-left:10px;
                        font:18px/1.5 $font-style-base;
                        color:#fff;   
                    }
                }
                .foot-img{
                    padding:30px 20px 10px;
                    width:100%;
                    height:80px;
                    display:flex;
                    align-items:flex-end;
                    justify-content:flex-end;
                }
                .foot-img.color4{background-color:#47afec;}
                .foot-img.color5{background-color:#fae033;}
                .foot-img.color6{background-color:#f58196;}
                .foot-img.color7{background-color:#b95de2;}
                &:hover{
                    animation:myItem .2s ease-in-out 0s 1 alternate forwards;
                    .bg-color4{
                       background:rgba(71,175,235,.5); 
                    }
                    .bg-color5{
                       background:rgba(253,226,52,.5); 
                    }
                    .bg-color6{
                       background:rgba(245,129,151,.5); 
                    }
                    .bg-color7{
                       background:rgba(185,93,226,.5); 
                    }
                    .layer{
                        opacity: 1;
                        transition:transform .5s;
                        transform:scale(1.05);
                    }
                }
            } 
        }
    }  
}
.settings{
    margin:20px 0 0 100px;
    a{
        display:flex;
        align-items:center;
        justify-content:flex-start; 
        i{
            font-size:0;
        }
        span{
            margin-left:8px;
            font:18px/1.5 $font-style-base;
            color:#fff; 
        }
    }
}

@media screen and (max-width: 1366px) {
    .swiper-container{
        margin-top:20px; 
    }
    .system-l{
        margin: 0 110px 0 110px;
        width: 100%;
        display:flex;
        align-items:center;
        .user-info{
            /*width:353px;*/
            width: 31.5%;
            height:400px;
            background:rgba(255,255,255,.4);
            .top{
                padding:15px 20px;
                display:flex;
                align-items:flex-end;
                i{
                    display:block;
                    width:65px;
                    height:65px;
                    border:2px solid #fff;
                    font-size:0;
                    img{
                        width:100%;
                    }
                }
                h3{
                    margin-left:10px;
                    font:24px/1 $font-style-base;
                    color:#342d2d;   
                }
            }
            .middle{
                position:relative;
                padding:0 20px 15px 20px; 
                ul li{
                    margin-bottom:15px;
                    display:flex;
                    align-items:center;
                    span{
                        width:100px;
                        font:14px/1 $font-style-base;
                        color:#342d2d; 
                    }
                }
                i{
                    position:absolute;
                    right:40px;
                    bottom:20px;
                    display:block;
                    font-size:0;
                }
            }
            .foot{
                padding:15px 20px;
                /*width:353px;*/
                width:100%;
                height:174px;;
                background:rgba(255,255,255,.4);
                display:flex;
                flex-direction:column;
                a{
                    margin-bottom:15px;
                    font:14px/1 $font-style-base;
                    color:#342d2d;  
                }
            }
        }
        .system-list{
            width:68.5%;
            .system-list-big{
                display:flex;
                align-items:center;
                /*width:838px;*/
                width:100%;
                .item{
                    position:relative;
                    margin-left:10px;
                    flex:1;
                    height:210px;
                    background:rgba(255,255,255,.4); 
                    cursor:pointer;
                    .layer{
                        position:absolute;
                        top:0;
                        right:0;
                        bottom:0;
                        left:0;
                        z-index:-1;
                        background:rgba(255,255,255,.4);
                        opacity: 0;
                    }
                    .title{
                        padding:30px;
                        height: 80px;
                        display:flex;
                        align-items:flex-end;
                        h2{
                            font:bold 36px/1 $font-style-base;
                            color:#fff;   
                        }
                        p{
                            margin-left:10px;
                            font:14px/1.5 $font-style-base;
                            color:#fff;   
                        }
                    }
                    .foot-img{
                        padding:30px;
                        width:100%;
                        height: 130px;
                        display:flex;
                        align-items:flex-end;
                        justify-content:flex-end;
                    }
                    .foot-img.color1{background-color:#f76884;}
                    .foot-img.color2{background-color:#29d2ad;}
                    &:hover{
                        animation:myItem .2s ease-in-out 0s 1 alternate forwards;
                        .bg-color1{
                           background:rgba(251,107,134,.5); 
                        }
                        .bg-color2{
                           background:rgba(41,210,171,.5); 
                        }
                        .layer{
                            transition:transform .5s;
                            transform:scale(1.03);
                            opacity: 1;
                        }
                    }
                }
            }
            .system-list-small{
                display:flex;
                align-items:center;
               /*width:838px;*/
                width:100%;
                .item{
                    position:relative;
                    margin-left:10px;
                    margin-top:10px;
                    flex:1;
                    height:180px;
                    background:rgba(255,255,255,.4); 
                    cursor:pointer;
                    .layer{
                        position:absolute;
                        top:0;
                        right:0;
                        bottom:0;
                        left:0;
                        z-index:-1;
                        background:rgba(255,255,255,.4);
                        opacity: 0;
                    }
                    .title{
                        padding:15px 10px 35px;
                        display:flex;
                        align-items:flex-end;
                        h3{
                            margin-left:10px;
                            font:18px/1.5 $font-style-base;
                            color:#fff;   
                        }
                    }
                    .foot-img{
                        padding:15px 10px;
                        width:100%;
                        height:104px;
                        display:flex;
                        align-items:flex-end;
                        justify-content:flex-end;
                    }
                    .foot-img.color3{background-color:#53b9f3;}
                    .foot-img.color4{background-color:#fae033;}
                    .foot-img.color5{background-color:#b75be0;}
                    &:hover{
                        animation:myItem .2s ease-in-out 0s 1 alternate forwards;
                        .bg-color3{
                           background:rgba(52,176,246,.5); 
                        }
                        .bg-color4{
                           background:rgba(250,224,51,.5); 
                        }
                        .bg-color5{
                           background:rgba(184,92,225,.5); 
                        }
                        .layer{
                            opacity: 1;
                            transition:transform .5s;
                            transform:scale(1.05);
                        }
                    }
                } 
            }
        }  
    }
    .system-blank{
        .system-blank-t{
            height:120px; 
            .system-blank-t-com{
                height:50px;
            }
        }
        .system-blank-b{
            height:270px;
            .system-blank-b-com{
                height:90px;
            }
        }
    }
    .slide2{
        .system-list{
            .system-list-big{
                display:flex;
                align-items:center;
                /*width:838px;*/
                width:100%;
                .item{
                    position:relative;
                    margin-left:10px;
                    flex:1;
                    height:210px;
                    background:rgba(255,255,255,.4); 
                    cursor:pointer;
                    .layer{
                        position:absolute;
                        top:0;
                        right:0;
                        bottom:0;
                        left:0;
                        z-index:-1;
                        background:rgba(255,255,255,.4);
                        opacity: 0;
                    }
                    .title{
                        padding:30px;
                        height: 80px;
                        display:flex;
                        align-items:flex-end;
                        h2{
                            font:bold 36px/1 $font-style-base;
                            color:#fff;   
                        }
                        p{
                            margin-left:10px;
                            font:14px/1.5 $font-style-base;
                            color:#fff;   
                        }
                    }
                    .foot-img{
                        padding:30px;
                        width:100%;
                        height: 130px;
                        display:flex;
                        align-items:flex-end;
                        justify-content:flex-end;
                    }
                    .foot-img.color1{background-color:#f76884;}
                    .foot-img.color2{background-color:#29d2ad;}
                    &:hover{
                        animation:myItem .2s ease-in-out 0s 1 alternate forwards;
                        .bg-color1{
                           background:rgba(251,107,134,.5); 
                        }
                        .bg-color2{
                           background:rgba(41,210,171,.5); 
                        }
                        .layer{
                            transition:transform .5s;
                            transform:scale(1.03);
                            opacity: 1;
                        }
                    }
                }
            }
            .system-list-small{
                display:flex;
                align-items:center;
               /*width:838px;*/
                width:100%;
                .item{
                    position:relative;
                    margin-left:10px;
                    margin-top:10px;
                    flex:1;
                    height:180px;
                    background:rgba(255,255,255,.4); 
                    cursor:pointer;
                    .layer{
                        position:absolute;
                        top:0;
                        right:0;
                        bottom:0;
                        left:0;
                        z-index:-1;
                        background:rgba(255,255,255,.4);
                        opacity: 0;
                    }
                    .title{
                        padding:15px 10px 35px;
                        display:flex;
                        align-items:flex-end;
                        h3{
                            margin-left:10px;
                            font:18px/1.5 $font-style-base;
                            color:#fff;   
                        }
                    }
                    .foot-img{
                        padding:15px 10px;
                        width:100%;
                        height:104px;
                        display:flex;
                        align-items:flex-end;
                        justify-content:flex-end;
                    }
                    .foot-img.color3{background-color:#53b9f3;}
                    .foot-img.color4{background-color:#fae033;}
                    .foot-img.color5{background-color:#b75be0;}
                    &:hover{
                        animation:myItem .2s ease-in-out 0s 1 alternate forwards;
                        .bg-color3{
                           background:rgba(52,176,246,.5); 
                        }
                        .bg-color4{
                           background:rgba(250,224,51,.5); 
                        }
                        .bg-color5{
                           background:rgba(184,92,225,.5); 
                        }
                        .layer{
                            opacity: 1;
                            transition:transform .5s;
                            transform:scale(1.05);
                        }
                    }
                } 
            }
        }    
    }
    .system-blank-l{
        .system-blank-t{
            height:120px; 
            .system-blank-t-com{
                height:50px;
            }
        }
        .system-blank-b{
             height:270px;
            .system-blank-b-com{
                height:150px;
            }
        }
    }
    .settings{
        margin:10px 0 0 100px;
        a{
            display:flex;
            align-items:center;
            justify-content:flex-start; 
            i{
                font-size:0;
            }
            span{
                margin-left:8px;
                font:14px/1.5 $font-style-base;
                color:#fff; 
            }
        }
    }
}
@keyframes myItem
{
    0% {transform:rotate(0deg);}
    25% {transform:rotate(3deg);}
    50% {transform:rotate(0deg);}
    75% {transform:rotate(-3deg);}
    100% {transform:rotate(0deg);}
}