@import 'variable';
@import 'mixins';
@import 'base';

body{
   background:url(../../images/bg.jpg) center center no-repeat;
   background-size: cover;  
   background-attachment:fixed; 
}
.container{
    .date{
        margin-right:30px;
        display:flex;
        align-items:center;
        justify-content:flex-end;
        .date-l{
            padding-top: 10px;
            margin-right:20px;
            display:flex;
            align-items:center;
            i{
                font-size:0;
            }
            .time{
                span{
                    padding-left:10px;
                    font:18px/1.5 $font-style-base;
                    color:#fff;
                }
            }
        }
        .exit{
            width:40px;
            height:52px;
            background:rgba(255,255,255,.4);
            display:flex;
            align-items:center;
            justify-content:center;
            cursor:pointer;
            img{
                padding-top: 10px;
            }
        }
    }
    .logo{
        margin:50px auto 80px;
        width:227px;
        height:144px;
        font-size:0;
    }  
}
.login-container{
    position:relative;
    .login-l{
        position:absolute;
        left: calc(50% - 710px/2 - 292px);
        cursor: move;
    }
    .login{
        margin:0 auto;
        width:710px;
        background:rgba(255,255,255,.4);
        .t{
            font-size:0;
            padding-bottom:20px;
        }
        .b{
            padding:30px 20px;
            background-color:rgba(255,255,255,.4);
            display:flex;
            align-items:center;
            justify-content:center;
            .item{
                flex:1;
                display:flex;
                align-items:center;
                justify-content:center;
                i{
                    margin-right:10px;
                }
                .inp{
                    width:260px;
                    border-bottom:1px solid #fff;
                    input{
                        padding:10px 0;
                        outline:none;
                        background:none;
                        border:none;
                        width:100%;
                        &::-webkit-input-placeholder{
                            color:#58595b;
                        }
                    }
                }
            }
        }
    }
    .login-r{
        position:absolute;
        left: calc(50% + 710px/2);
        bottom: 0;
        cursor: move;
        width:130px;
        height:96px;
        background: linear-gradient(#cc0d2f, #9f2e40);
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        cursor:pointer;
        h5{
            font:24px/1.5 $font-style-base;
            color:#fff;
        }
        h6{
            font:14px/1.5 $font-style-base;
            color:#fff;
        }
    }
}
.list{
    margin:50px auto 0;
    width:756px;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    .items{
        width:90px;
        margin:0 18px;
        .img{
            width:90px;
            height:84px;
            background:rgba(255,255,255,.4);
            display:flex;
            align-items:center;
            justify-content:center;
            i{
                font-size:0;
                width:50px;
                height:38px;
                display: block;
                background:url(../../images/list_icon.png); 
            }
            i.i1{background-position:-3px 0;}
            i.i2{background-position:-128px 0;}
            i.i3{background-position:-251px 0;}
            i.i4{background-position:-377px 0;}
            i.i5{background-position:-499px 0;}
            i.i6{background-position:-625px 0;}
        }
        .text{
            margin-top:10px;
            p{
              font:14px/1.2 $font-style-base;
              color:#fff;   
            }
        }
        &:hover{
            .img{
                i.i1{background-position:-3px -39px;}
                i.i2{background-position:-128px -39px;}
                i.i3{background-position:-251px -39px;}
                i.i4{background-position:-377px -39px;}
                i.i5{background-position:-499px -39px;}
                i.i6{background-position:-625px -39px;}
            }
        }
    }
}
.footer{
    padding-left:46px;
    margin-top:50px;
    .line{
        margin-bottom:10px;
        width:960px;
        height:1px;
        background-color:#fff;
    }
    p{
      font:13px/1.2 $font-style-base;
      color:#58595b;   
    }
}